@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto:wght@300;400&display=swap');

#projects {
    font-family: 'Roboto', san-serif;
    background-color: #aa8351;
    box-shadow: inset 0px 1px 0px 0px rgb(0 0 0 / 5%), inset 0px 2px 3px 0px rgb(0 0 0 / 10%);
}

#projects .main-container {
    padding: 6% 0 13% 0;
    max-width: 1450px;
    width: 85%;
    margin: 0 auto;
}

#projects .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 6%;
    margin-bottom: 0.625rem;
}

#projects h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
}

#projects .header-container h1 {
    color: #000;
}

#projects .projects-main-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 40px;
}

#projects .projects-main-container h1 {
    color: #000;
}

#projects .project {
    max-width: 320px;
    margin: 0 auto;
}

#projects .project-container {
    background-color: #fff;
    padding: 0.625rem 0.625rem 0.3125rem 0.625rem;
    box-shadow: 0 4px 6px rgb(0 0 0 / 30%);
    transition: all 0.3s ease-out;
}

#projects .project-container a {
    text-decoration: none;
    color: #000;
}

#projects .project-container a:visited {
    color: #000;
}

#projects .project-container img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#projects .project-container h1 {
    display: flex;
    justify-content: center;
    margin: 0.7rem 0;
}

#projects .project-container:hover {
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgb(0 0 0 / 70%);
}