@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto:wght@300;400&display=swap');

#about {
    font-family: 'Roboto', san-serif;
    box-shadow: inset 0px 1px 0px 0px rgb(0 0 0 / 5%), inset 0px 2px 3px 0px rgb(0 0 0 / 10%);
}

#about .main-container {
    padding: 6% 0;
    max-width: 1250px;
    width: 85%;
    margin: 0 auto;
}

#about .header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
}


#about .image-container {
    display: inline-block;
    padding: 0.9375rem 0.9375rem 3.125rem;
    box-shadow: 0 4px 6px rgb(0 0 0 / 30%);
    margin: 3.4375rem 4.6875rem 1.875rem 0;
}

#about img {
    width: 200px;
    height: 250px;
    object-fit: cover;
}

#about .content-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#about .card-container {
    margin: 3.4375rem 0 1.875rem 4.6875rem;
    border: 1px solid rgba(0, 0, 0, .125);
}

#about .card-top {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    background-color: rgba(0, 0, 0, .03);
    padding: 0.46875rem 0.78125rem;
}

#about .card-top svg {
    margin-right: 8px;
}

#about .card-bottom {
    padding: 0.78125rem 1.40625rem;
}

#about .card-bottom h2 {
    font-weight: 400;
    font-size: 1.3rem;
    margin: 1.5rem 0;
}

#about .card-bottom p {
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

#about p:last-child {
    margin-bottom: 1.2rem;
}