@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

#header {
    font-family: "Raleway", sans-serif;
    box-shadow: inset 0px 1px 0px 0px rgb(0 0 0 / 5%), inset 0px 2px 3px 0px rgb(0 0 0 / 10%);
    background-image: url('https://img.freepik.com/free-vector/abstract-background-with-minimalist-design_1048-13338.jpg?w=2000&t=st=1673114278~exp=1673114878~hmac=e8e4ecd768e70e7d0d0c3103f7f8be5d5e5484aef72faa68664599963525c3d7');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 55px);
}

#header .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.5rem;
    position: relative;
}

#header h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

#header h2 {
    font-size: 1.6rem;
    font-weight: 400;
}

#header .contact-button {
    margin-top: 6rem;
}

#header .contact-button button {
    cursor: pointer;
    padding: 1rem 2.35rem;
    font-size: 1.4rem;
    border-radius: 10px;
    transition: all 0.2s ease-out;
}

#header .contact-button button:hover {
    background-color: #6CB4EE;
    color: white;
    transform: scale(1.05);
}

#header .contact-button button:active {
    transform: scale(0.97);
}

#header .script-container {
    position: absolute;
    transform: translateY(30px);
}
