@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto:wght@300;400&display=swap');

#blogs {
    font-family: 'Roboto', san-serif;
    box-shadow: inset 0px 1px 0px 0px rgb(0 0 0 / 5%), inset 0px 2px 3px 0px rgb(0 0 0 / 10%);
}

#blogs.dark {
    color: #fff;
    background-color: #1f1f1f;
}

#blogs .container {
    padding: 4rem 8rem 5rem;
}

#blogs h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
}

#blogs h3 {
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
}

#blogs .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

#blogs .blog-container {
    margin: 3rem 0;
}   

#blogs .bc {
    position: relative;
}

#blogs .Link {
    color: #6CB4EE;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%, 50%);
}

#blogs .Link:visited {
    color: #6CB4EE;
}

#blogs.dark .Link {
    color: #aa8351;
}

#blogs.dark .Link:visited {
    color: #aa8351;
}

#blogs .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 50px;
}

#blogs .grid-container img {
    width: 100%;
    border-radius: 1rem;
    cursor: pointer;
}

#blogs .grid-container h2 {
    margin: 0.8rem 0;
}

#blogs .grid-container p {
    line-height: 1.5rem;
    margin-bottom: 3.5rem;
}

#blogs button {
    cursor: pointer;
    display: block;
    margin: 8rem auto 0;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 10px;
    transition: all 0.2s ease-out;
}

#blogs button:hover {
    background-color: #6CB4EE;
    color: white;
    transform: scale(1.05);
}

#blogs.dark button:hover {
    background-color: #aa8351;
}

#blogs button:active {
    transform: scale(0.97);
}

@media (max-width: 609px) {
    #blogs .container {
        padding: 3rem 3rem 0;
    }
}

@media (max-width: 425px) {
    #blogs .container {
        padding: 3rem 2rem 0;
    }

    #blogs .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}