#blogs .container {
    padding: 0 8rem;
}

#blogs h1 {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
}

#blogs h3 {
    font-weight: 300;
}

#blogs .header {
    margin: 2.5rem 0;
}

#blogs .blog-container {
    margin: 3rem 0;
}   

#blogs .Link {
    margin: 1rem 0 0;
    display: block;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 50px;
}

.grid-container img {
    width: 100%;
    border-radius: 1rem;
    cursor: pointer;
}

.grid-container h2 {
    margin: 0.8rem 0;
}

.grid-container p {
    line-height: 1.5rem;
}


#blogs button {
    cursor: pointer;
    display: block;
    margin: 7rem auto 6rem;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 10px;
    transition: all 0.2s ease-out;
}

#blogs button:hover {
    background-color: #6CB4EE;
    color: white;
    transform: scale(1.05);
}

#blogs button:active {
    transform: scale(0.97);
}

@media (max-width: 609px) {
    #blogs .container {
        padding: 0 3rem;
    }
}